@model CompanyMvc.Models.Booking
@{
    ViewData["Title"] = "Ticket Page";
}

<div class="container" style="margin-top: 10rem;">
  <div class="card" style="width: 45rem;">
    <div class="card-body">
      <h5 class="card-title text-center">Your Ticket</h5>
      <div class="d-flex justify-content-between">
        <div class="details">
          <h6 class="card-subtitle mb-3">Source: @Model.Source</h6>
          <h6 class="card-subtitle mb-3">Destination: @Model.Destination</h6>
        </div>
        <div class="details">
          <h6 class="card-subtitle mb-3">Name: @Model.Name</h6>
          <h6 class="card-subtitle mb-3">Phone: @Model.Phone</h6>
        </div>
      </div>
      <p class="card-text">Your Journey starts at: @Model.DeputureTime <br> Please Be at the Station 30 mins earlier</p>
      <a href="#" class="card-link btn btn-primary">Print</a>
    </div>
  </div>
</div>